<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker Form</title>
    <link rel="stylesheet" href="/CSS/expense.css">
    
    
</head>
<body>
    <div class="container">
        <header>
            <h1>Expense Tracker</h1>
            <nav>
                <div id="paradiv"></div>
                <div id="showLeaderDiv"><a ><button id="LB" >Show Leader Board</button></a></div>
                <ul>
                    <li id="buypremium"><a><button>Buy Premium</button></a></li>
                    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                    

                    <li id="logout"><a href="/"><button>Log Out</button></a></li>
                </ul>
            </nav>
        </header>
        <form method="post" action="/expense/savedata" onsubmit="SaveData(event)">
            <select name="category" id="category">
                <option value="seleteCatagory" selected>Select Catagory</option>
                
                <option value="Electricity Bill">Electricity Bill</option>
                <option value="Mobile Recharge">Mobile Recharge</option>
                <option value="Food">Food</option>
                <option value="Grocery">Grocery</option>
            </select>
            <input type="text" placeholder="Description" id="description" required>
            <input type="number" placeholder="Amount" id="amount" required>
            <input type="submit" value="Update">
        </form>
      
         <div style="display: flex; align-items: center;">
            <form style="display: flex; align-items: center;">
                <select name="perpage" id="perpage" style="margin-right: 10px;">
                    <option value="">no of row per page</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
                <input style="width: 2cm; height: 0.5cm; padding-left: 0;" type="button" value="DONE" onclick="setpagecount(event)">

            </form>
        </div> 
        
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="tbody">
                
                
            </tbody>
        </table>
        
       <div id="pagenation"> </div>
       
       
       <div id="DownloadDiv" ><a ><button id="download" >Download File</button></a></div>
       

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/JS/Index.js"></script>
    
    
    
</body>
</html>
