<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expense Tracker - Forgot Password</title>
    <link rel="stylesheet" href="/CSS/forgot.css">
</head>
<body>
    <div class="container">
        <form class="signin-form" method="post" onsubmit="forgot(event)">
            <h2>Forgot Password</h2>
            <p>Please enter your email address. We will send you a link to reset your password.</p>
            <input id="email" type="email" placeholder="Email" required id="email">
            <button type="submit">Send Reset Email</button>
            <p>Remember your password? <a href="/">Sign in</a></p>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/JS/forgotpass.js"></script>
</body>
</html>
